.bot-subtitle {
    font-family: AntipastoPro-Medium_trial;
    color: white;
    font-size: 15px;
    padding-top: 10;
}

.footer-css {
    bottom: 0 !important;
    text-align: center;
    z-index: -200;
}

#footer {
    position: relative;
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: -200;
}

#contenido {
    position: relative;
    z-index: 1;
}