.carrouserImg>img {
height: 700px !important;
width: 100% !important;
object-fit: cover;
display: block;
margin: auto;
opacity: 0.7;
filter: grayscale(var(--value, 100%));
--value: 56%;
}

.mainImage {
height: 400px !important;
width: 100% !important;
object-fit: cover;
left: 0;
filter: grayscale(var(--value, 100%));
--value: 56%;
}

.carrousel-class {
width: 100% !important;
}

.primary-content {
position: relative;
z-index: 0;
}

body {
margin: 0;
}

.col-lg-12 {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.col-xs-4 {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.col-xs-8 {
	padding-top: 80;
}

.row {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

#wrapper {
	min-height: 100%;
	position: relative;
  }

  #content {
	padding-bottom: 50px; /* la altura del footer */
  }

.woman-title {
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	font-family: AntipastoPro-Medium_trial;
	color: white;
	font-size: 34;
	text-align: center;
}

.woman-text {
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	font-family: Lato-Regular;
	color: white;
}

.nosotros-title {
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	font-family: AntipastoPro-Medium_trial;
	color: white;
	padding-left: 110px;
	font-size: 50;

}
.nosotros-title2 {
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	font-family: AntipastoPro-Medium_trial;
	color: white;
	padding-left: 110px;
	font-size: 40;

}

.nosotros-text {
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	text-align: left;
	max-width: 85%;
	font-family: Lato-Regular;
	color: white;
	font-size: 20;
	padding-left: 110px;
}